* {
  overflow-x: hidden;
}
div.books {
  background-color: #382e2e;
}
.box-container {
  width: 100vw;
}
div.books h1 {
  font-family: "Raleway-bold";
  text-align: center;
  color: var(--pink);
  /* background: red; */
  position: relative;
  height: 100px;
}

.books h1::after {
  content: "";
  width: 100%;
  height: 20px;
  background-image: url(../icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 2.5rem;
  margin-top: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--pink);
  padding: 10px 0;
  border-radius: 5px;
}

div.box h3 {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Raleway-bold";
  text-align: center;
  color: var(--pink);
  letter-spacing: 2px;
}

.books-btn {
  color: #f0f0f0;
}


.addBookContainer {
  /* max-width: 400px; */
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="url"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Optional: Increase input size for better readability on larger screens */
@media screen and (min-width: 768px) {
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="url"],
  textarea {
    font-size: 16px;
    padding: 10px;
  }

  button {
    font-size: 18px;
    padding: 12px 24px;
  }
}

button#toggleFormButton {
  margin-bottom: 20px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button#toggleFormButton:hover {
  background-color: #0056b3;
}