body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #login-form input {
    padding: 6px 18px;
    margin-bottom: 20px;
    outline: none;
  }
  
  #login-form button {
    padding: 6px 12px;
    display: block;
    margin: auto;
    color: white;
    background: green;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  #form {
    width: 80%;
    margin: 96px auto;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  #form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  #form input {
    padding: 10px;
    width: 80%;
    outline: none;
  }
  
  #form > button {
    padding: 6px 12px;
    width: max-content;
    background: rgb(9, 202, 9);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
  }